.nav-ul li{
  display: inline-block;  
  padding: 10px;
}
.nav-ul li a{
  color: #fff;
  padding:5px;
  text-decoration: none;
}

.nav-ul{
  padding: 5px;
  margin: 0;
  background-color: skyblue;
}
.nav-right{
  text-align: right;
}
.logo{
  width:150px;
  float: left;
  height: max-content;
}

.footer{
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: skyblue;
}

.signup,.login,.addProduct{
  margin-left: 30%;
}
.signup h1, .login h1, .addProduct h1{
  margin-left: 26px;
}
.inputbox{
 
 display: block;
margin: 25px;
padding:7px ;
width: 300px;
border: 1px solid skyblue;
}

.invalide-input{
  color: red;
  font-size: small;
  margin-top: -20px;
  display: block;
  margin-left: 26px;
}

.invalide-input1{
  color: red;
  font-size: small;
  margin-top: -20px;
  display: block;
  margin-left: 26px;
  margin-bottom: 20px;
}

.sign-log {
  margin: 23px;
  margin-top: 0;
  padding: 10px;
  width: 150px;
  background-color:skyblue;
  border:1px solid skyblue;
  color: #fff;
  cursor: pointer;
}

.sign-log:hover{
  background-color: #fff;
  border:1px solid skyblue;
  color:black;

}


.delet-edit{
  background-color: skyblue;
  border:1px solid skyblue;
  color: #fff;
  cursor: pointer;
}

.delet-edit:hover{
  background-color: #fff;
  border:1px solid skyblue;
  color:black;
}

.product-list ul li button{
margin-left: 5px;
margin-right: 5px;
padding: 3px;
margin-bottom: -7px;
font: small;

}


.product-list{
  text-align: center;
  margin-top: 50px;
}

.product-list ul li{
  display: inline-block;
  border:1px solid skyblue ;
  padding: 5px;
  width: 150px;

}
.product-list ul{
  margin: 0;
}

.search{
  width: 400px;
  margin: 20px;
  height: 40px;
  border: 3px solid skyblue;
  padding-left: 20px;
  cursor: default;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
